/* used CSSgridient.io to create favoured background with rotation of the gradient colors to my liking . */

:root{
    --bodyBackground: linear-gradient(225deg, rgb(16, 171, 238) 44%,rgb(84, 134, 190) 52%);
    --titleBackground: linear-gradient(225deg, rgb(16, 171, 238) 44%,rgb(84, 134, 190) 52%);
    --weatherBackground: linear-gradient(225deg, rgb(16, 171, 238) 24%,rgb(84, 134, 190) 52%);
    --headingTextColor: rgba(255, 255, 255, 0.8);
}

.title
{

    background: var(--titleBackground);
    color:var(--headingTextColor);
  

}

html
{
height: 100vh;
}

body
{

margin:0;
padding:0;
background: url(./images/Download-Free-Weather-Background.jpg);
background-size: cover;
}

#searchHeader
{
    font-size: 1.5em;
    margin:0;
    color: white;
}

.container 
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.currentSearch
{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    
}


.forecastContainer
{
    display:flex;
    flex-wrap: wrap-reverse;
    width:100%;
   
   
}

.searchCard
{
    background: var(--weatherBackground);
    color: rgba(255, 255, 255, 0.685);
    border:darkblue 1px solid;
    margin-bottom: auto;
    min-width: 360px;
    text-align: center;
}

#weatherCard
{

    min-width: 360px;
 
}

.forecastCard
{
    background: var(--weatherBackground);
    color: rgba(255, 255, 255, 0.685);
    margin: auto;
    border:darkblue 1px solid;
    text-align: center;
    font-size: 1.5em;
}

.wHeader
{
  margin: 0.5em;
}

#curTemp
{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.685);
    margin:0;
}

.curC
{
    color:rgba(40, 100, 231, 0.589);
}

#curIcon
{
    width:150px;
    height: 150px;
    
}


.weatherP
{

    font-size: 2em;

}

li
{
   font-size: 1.5em;
   text-align: left;
   list-style-type: none;
  
}

#btnSearch, #btnReset
{
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid #91C9FF;
    outline: none;
    font-size: 1.5em;
    margin:10px;
}

#searchBox
{
    width: 250px;
    height: 30px;
    font-size: 1.4em;
    background: rgba(191, 194, 200, 0.589);
    color: whitesmoke;
}