/* used CSSgridient.io to create favoured background with rotation of the gradient colors to my liking . */

:root{
    --bodyBackground: linear-gradient(90deg, rgba(52,142,182,1) 14%, rgb(18, 136, 101) 70%);
    --weatherBackground: linear-gradient(225deg, rgb(31, 137, 182) 14%, rgb(27, 138, 134) 52%);
    --headerBackground: linear-gradient(225deg, rgb(31, 137, 182) 14%, rgb(27, 138, 134) 62%);
}

html
{
height: 100vh;
background: var(--bodyBackground);
}

body
{
    min-height: 100%;
}

.container 
{
    display:flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.currentSearch
{
    display:flex;
    flex-wrap: wrap;
    align-items:top;
    width: 100%;
    
}



.forecastContainer
{
    display:flex;
    flex-wrap: wrap-reverse;
    width:100%
}

.searchCard
{
    background: var(--weatherBackground);
    color: rgba(255, 255, 255, 0.685);
    border:darkblue 1px solid;
    margin: auto;
    min-height: 518px;
    min-width: 360px;
    text-align: center;
}

.weatherCard
{
    background: var(--weatherBackground);
    color: rgba(255, 255, 255, 0.685);
    margin: auto;
    border:darkblue 1px solid;
    text-align: center;
}

.forecastCard
{
    background: var(--weatherBackground);
    color: rgba(255, 255, 255, 0.685);
    margin: auto;
    border:darkblue 1px solid;
    text-align: center;
}

.wHeader
{
  margin: 0.5em;
}

#curTemp
{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.685);
    margin:0;
}

.curC
{
    color:rgb(0 180 254);
}

#curIcon
{
    width:150px;
    height: 150px;
    
}

.weatherP
{

    font-size: 2em;

}

